#### 1.  Python Program to exchange the values of two numbers without using a temporary variable.

In [17]:
a=int(input("Enter the value of a\t"))
b=int(input("Enter the value of b\t"))
a=a+b
b=a-b
a=a-b
print("Swapped value of a is\t",a)
print("Swapped value of b is\t",b)

Enter the value of a	25
Enter the value of b	36
Swapped value of a is	 36
Swapped value of b is	 25

##### Code Explanation

1. Get the variables a and b using runtime
2. Apply Multiple variable, multiple assignment and swap the values
3. Print the original and Desired output for display and validate the results.
4. Desired output should be swapped values without using temp variable.

#### 2. Write a python code to replace all  "a"  with 2 for the given variable

In [19]:
a='great learning'
a.replace('a','2')

'gre2t le2rning'

#### 3. Python code for to  remove first character in string?

In [28]:
a='bangalore'
a[1::]

'angalore'

#### 4. Concatenate two strings  
#### desired output :   "Great Learning"

In [11]:
a='"Great '
b='Learning"'
print("desired output:",a+b)

desired output: "Great Learning"

#### 5. Repeat the string " Great Learning 3 times 
#### desired output :  'Great Learning Great Learning Great Learning '

In [29]:
a="Great Learning "
print("desired output:",a*3)

desired output: Great Learning Great Learning Great Learning

#### 6.  Create 3 variables a1,a2,a3 and assign the same values " 4 " to all the variables

In [15]:
a1=a2=a3=4
print(a1,a2,a3)

4 4 4

#### 7. The height and weight of a person and calculate BMI of a person?

In [2]:
h=float(input("Enter the height of the person in metre\t"))
w=float(input("Enter the weight of the person in kilogram\t"))
print("The BMI of the person will be\t",w/(h*h))

Enter the height of the person in metre	1.5
Enter the weight of the person in kilogram	65
The BMI of the person will be	 28.88888888888889

#### 8.Formula area of circle = pi * r square

In [5]:
r=float(input("Enter the radius\t"))
print("Formula area of circle=",3.14*r*r)

Enter the radius	25
Formula area of circle= 1962.5

#### 9.Calculate the simple interest
#### simple_interest = p * n * r /100

In [12]:
p=float(input("Enter the principle:\t"))
n=float(input("Enter the number of years:\t"))
r=float(input("Enter the rate of interest:\t"))
print("The simple interest will be\t",(p*n*r)/100)

Enter the principle:	100000
Enter the number of years:	5
Enter the rate of interest:	8.5
The simple interest will be	 42500.0

#### 10.Python code to calculate the square root of the given number(run time variable)

In [25]:
s=float(input("Enter the number to find the square root:\t"))
r=s**(1/2)
print("Square root of the given number is\t",r)

Enter the number to find the square root:	50
Square root of the given number is	 7.0710678118654755

### IF Statement

#### 1. x = 20 and y = 30. Write a pseudocode to find if x is less than y?

# if-else Statement

#### 1. Write a pseudocode to check if a student has passed a subject based on a string input (Yes, No)

#### 2. Take the password as an input and check if it is equal to 'great'. Show a message accordingly. Write a pseudocode for this.

## Nested if Statement

1. Based on the users age, divide them in to three groups 
Group 1 : Age <18 , Minors who are not eligible to work
Group 2 : 18<Age<60 , ELigible to work
Group 3 : >60, Too old to work as per govt. regulations. 

Write a pseudocode for the same

# While Loop

1. Take an integer as input from the user and print all the numbers from 0 to that number in reverse order. 

Example : if the input is 3, the output should be
3
2
1

2.  Write a pseudocode to find the squares of all the numbers based on an input. 

Example : If the input is 10, the output should be
1*1 ,2*2 ,3*3...... 10*10?

# FOR LOOP

1. Write a pseudocode to print the multiplication table of a given number.

Example : if the number is 3, the output should print the below :  
3 X 1 = 3
3 X 2 = 6
...
3 X 10 =30

#### 2. Write a pseudocode to print squares of all numbers present in a list = [1, 12, 24, 36, 11, 20,50]