# Python List

### 1. Create your own lists otherwise use the List1 = ['a','b','c']  to operate the below Python list  Operations?

### 1. List Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [8]:
list1=['a','b','c','d','e']
list1*2

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']

#### 1.B. Concatenation (+):

In [3]:
list1=['a','b','c','d','e']
list2=['f','g','h','i']
list1+list2

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

#### 1.C. Membership:

In [95]:
lst=['a','b','c']
lst1=['e','f','g']

'b' in lst

True

#### 1.D. Length:

In [7]:
len(lst)

3

#### 1.E. Iteration:

In [97]:
list1=['a','b','c','d','e']
list1[0]

'a'

### 2.1. Create your own lists to operate the below Python List Built-in functions?
##### otherwise use the
            List1 = [1, 2, 4, 5, 54]
            List2 = [23,54,789,9876,876,532,56]
            List3 = [1, 2,76543,289,87654,33,456789876,5432,45678]

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

#### 2.C. max(list):

In [11]:
List1=[1,2,4,5,54]
max(List1)

54

#### 2.D. min():

In [12]:
List2 = [23,54,789,9876,876,532,56]
min(List2)

23

#### 2.E.list:

In [13]:
t=(1,2,3,4,5,6)
list(t)

[1, 2, 3, 4, 5, 6]

### 3. Create your own lists to operate the below  thePython List built-in methods?
##### otherwise use below list:
           List = ['white','red', 'blue', 'green','blue','yellow', 'black']

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

#### 3.A) append:

In [18]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.append('grey')
List

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'grey']

#### 3.B) list.clear():

In [20]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.clear()
List

[]

#### 3.C) List.copy()

In [21]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
Colors=List.copy()
Colors

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']

#### 3. D) list.count(obj):

In [23]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.count('white')

1

#### 3.E) list.extend(seq):

In [25]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.extend(['grey','maroon'])
List

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'grey', 'maroon']

#### 3.F) list.index(obj):

In [26]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.index('green')

3

#### 3.G) list.insert(index, obj):

In [27]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.insert(2,'purple')
List

['white', 'red', 'purple', 'blue', 'green', 'blue', 'yellow', 'black']

#### 3.H) list.pop(obj=list[-1]):

In [35]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.pop(2)

'blue'

#### 3.I) list.remove(obj):

In [37]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.remove('green')
List

['white', 'red', 'blue', 'blue', 'yellow', 'black']

#### 3.j) list.reverse():

In [39]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.reverse()
List

['black', 'yellow', 'blue', 'green', 'blue', 'red', 'white']

#### 3.K) list.sort([func]):

In [41]:
List = [56,89,1,54,455,63]
List.sort()
List

[1, 54, 56, 63, 89, 455]

# Python Tuple

### Create your own Tuple to operate the below Python tuple Operations ?
##### otherwise use the
                Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
                Tuple2 = (1,4,1,3,4,5,65)

### 1. Tuple Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [42]:
Tuple2 = (1,4,1,3,4,5,65)
Tuple2*2

(1, 4, 1, 3, 4, 5, 65, 1, 4, 1, 3, 4, 5, 65)

#### 1.B. Concatenation (+):

In [43]:
Tuple2 = (1,4,1,3,4,5,65)
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
Tuple1+Tuple2

('white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 1,
 4,
 1,
 3,
 4,
 5,
 65)

#### 1.C) Membership:

In [96]:
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
Tuple2 = (1,4,1,3,4,5,65)
65 in Tuple2

True

#### 1.D) Length:

In [45]:
Tuple2 = (1,4,1,3,4,5,65)
len(Tuple2)

7

#### 1.E) Iteration:

In [99]:
Tuple2 = (1,4,1,3,4,5,65)
Tuple2[6]

65

### 2.Create your own Tuple to operate the below Python tuple inbuilt functions ?
##### otherwise use the
            Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)	    
         C.	Tuple(seq)

#### 2.A) max():

In [46]:
Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)
max(Tuple1)

8765

#### 2.D) min():

In [47]:
Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)
min(Tuple1)

4

#### 2.E) Tuple:

In [48]:
list1=[1,2,3,4,5,6,7,8,9]
tuple(list1)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

# Python Set

In [ ]:
#### Create your own Set to operate the below Python Set Operations ?
#### otherwise use the below set:
        Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
        Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}

### 1. Set Operations
     A. Union 
     B. Intersection
     C. Difference
     D. Symmetric difference

#### 1.A) Union:

In [50]:
Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
Set1|Set2

{1,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 45,
 54,
 56,
 57,
 65,
 88,
 436,
 467,
 678,
 876,
 887,
 6789,
 7654,
 8765,
 9876,
 87654,
 787654}

#### 1.B. Intersection

In [51]:
Set1&Set2

{4, 5, 6, 7, 8, 9, 876}

#### 1.C. Difference

In [52]:
Set1-Set2

{1, 3, 54, 56, 436, 9876, 87654, 787654}

####  1.D. Symmetric difference:

In [53]:
Set1^Set2

{1,
 3,
 45,
 54,
 56,
 57,
 65,
 88,
 436,
 467,
 678,
 887,
 6789,
 7654,
 8765,
 9876,
 87654,
 787654}

# Python Dictionary

#### Create your own Dictionary to operate the below Python Built-in Dictionary functions
#### otherwise use the below Dictionary:
                           Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	len(dict)     
    B.	str(dict)     
    C.	type(variable)

#### 1.A) len(dict):

In [54]:
Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
len(Dictionary)

3

#### 2.B) str(dict):

In [55]:
Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
str(Dictionary)

"{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}"

#### 1.C) type(variable):

In [56]:
Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
type(Dictionary)

dict

### 2.Create your own Dictionary to operate the below Python Built-in Dictionary methods
#### otherwise use the below Dictionary:

                            dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	dic.clear()	
    B.	dict.copy()	   
    C.	dict.fromkeys()
    D.  dict.get(key[, value])    	
    E.	dict.items()	
    F.	dict.keys() 	
    G.	dict.setdefault()	
    H.	dict.update()	
    I.	dict.values()

#### 2.A) dic.clear():

In [58]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
dictionaries.clear()
dictionaries

{}

#### 2.B) dict.copy():

In [59]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
dict1=dictionaries.copy()
dict1

{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

#### 2.C) dict.fromkeys():

In [63]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
dictionaries.fromkeys('x','beta')

{'x': 'beta'}

#### 2.D) dict.get(key[, value]) :

In [68]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
dictionaries.get('o','omega')

'omega'

#### 2.E) dict.items()

In [69]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
dictionaries.items()

dict_items([('a', 'alpha'), ('o', 'omega'), ('g', 'gamma')])

#### 2.F) dict.keys() :

In [70]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
dictionaries.keys()

dict_keys(['a', 'o', 'g'])

#### 2.G) dict.setdefault():

In [6]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
dictionaries.setdefault('x','beta')
dictionaries

{'a': 'alpha', 'o': 'omega', 'g': 'gamma', 'x': 'beta'}

#### 2.H) dict.update():

In [11]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
dictionaries.update({'x':'beta'})
dictionaries

{'a': 'alpha', 'o': 'omega', 'g': 'gamma', 'x': 'beta'}

 #### 2.L)  dict.values():

In [10]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
dictionaries.values()
dictionaries

{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

#### 1. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello"

In [92]:
a=int(input("Enter the number\t"))
if a==10:
    print("Hello")

Enter the number	10
Hello

#### 2. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello", else print "Good Bye"

In [93]:
a=int(input("Enter the number\t"))
if a==10:
    print("Hello")
else:
    print("Good Bye")

Enter the number	12
Good Bye

# While Loop

#### 1. Print Hello World 5 times

In [3]:
i=1
while i in range(0,6):
    i+=1
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

# For Loop

#### 1. Take a list [23,1,0,12,45,-1,46], loop through each element and print it

In [12]:
list=[23,1,0,12,45,-1,46]
for i in list:
    print(i)

23
1
0
12
45
-1
46

#### 2. Take a list [1,2,3,4,5,6,7,8], loop through each element and print it. But, use break to come out of the loop after printing the second element

In [22]:
i=0
l1=[1,2,3,4,5,6,7,8]
for i in l1:
    print(i)
    if i==l1[1]:
        break

1
2